
body{
    margin: 0; 
    
}
body, h1, h2, h3, h4, p, a, span {
    font-family: arial !important;
}
h2 {
    font-size: 40px;
    color: #060673;
}
.top-space {
    margin-top: 40px;
}
/***************** Header *****************/
.top-bar {
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto;
}
.logo {
    width: 25%;
    display: inline;
}
.logo img {
    height: 120px;
}
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
.menu li {
    padding-left: 40px;
    font-size: 24px;
    display: inline-block;
}
.menu li a {
    text-decoration: none;
    color: #23149c;
    font-weight: bold;
}
.menu li a:hover{
    color: #2da4f9;
}
.menu {
    width: 75%;
    display: inline-block;
    text-align: right;
    height: 120px;
    float: right;
    line-height: 120px;
}
body header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: #fff;
    box-shadow: #000 6px 4px 18px;
}

.container {
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto;
}
/*************  Hero  *************/
.hero-container {
    padding-top: 120px;
}
.hero img {
    width: 100%;
}
.hero {
    position: relative;
}
.hero-text {
    position: absolute;
    right: 6%;
    bottom: 20%;
    background: #0000008c;
    padding: 6px 13px;
    border-radius: 20px;
}
.hero-text h1{
    color: #fff;
    margin: 5px;
    font-size: 52px;
    text-align: right;
}
.hero-text p {
    color: #fff;
    text-align: right;
    font-size: 22px;
}
.hero-text a {
    text-decoration: none;
    color: #fff;
    background: #060673;
    padding: 10px 40px;
    line-height: 30px;
    border: solid 2px #909090;
    border-radius: 5px;
    font-weight: bold;
}
.hero-text a:hover {
    background-color: #5e5ee6;
    border-color: #060673;
}


/******************** Home Body *********************/
.center-text p {
    font-size: 20px;
}
.text-container {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}
.center-text {
    text-align: center;
}

.thirds {
    display: inline-flex;
}
.third {
    width: 33%;
}
.third img {
    width: 100%;
    height: 260px;
}

.third {
    width: 33%;
    padding: 0 10px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

a.button {
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: #060673;
    padding: 10px 40px;
    line-height: 30px;
    border: solid 2px #909090;
    border-radius: 5px;
    font-weight: bold;
    line-height: 50px;
}
a.button:hover {
    background-color: #5e5ee6;
    border-color: #060673;
}
strong{
    font-weight: bold;
}

.about-con {
    position: relative;
    margin-bottom: 30px;
}
.about-con .left-container {
    width: 50%;
    display: inline-block;
}
.about-con .right-container {
    width: 49%;
    display: inline-block;
}
.projects img {
    max-width: 630px;
    float: left;
    margin-right: 40px;
}
.projects {
    min-height: 320px;
}
.seperator {
    border-top: solid 2px #d8d8d8;
}


/******************** Footer *********************/
footer {
    background: black;
    color: #fff;
    padding: 16px 30px;
    text-align: right;
}

